{% load i18n %}
<div class="modal-bodys add_edit_category_modal">
    <div class="modale">
        <h1> <span id="form_title"> {% blocktrans %} Kirim-chiqim qo'shish {% endblocktrans %} </span>
            <a class="close add_category_income ml-5" type="button">
              <i class="bi bi-x-square"></i>
            </a>
        </h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">
              <label for="category_name_uz"> {% blocktrans %} Kategoriya nomi (UZ) {% endblocktrans %}</label>
              <input type="text" id="category_name_uz" class="form-control" name="category_name_uz" required >
            </div>
            <div class="form-group mt-4">
              <label for="category_name_en"> {% blocktrans %} Kategoriya nomi (EN) {% endblocktrans %}</label>
              <input type="text" id="category_name_en" class="form-control" name="category_name_en" required >
            </div>
            <div class="form-group mt-4">
              <label for="category_name_ru"> {% blocktrans %} Kategoriya nomi (RU) {% endblocktrans %}</label>
              <input type="text" id="category_name_ru" class="form-control" name="category_name_ru" required >
            </div>
  
              <input type="hidden" id="category_id" name="category_id">
  
              <div class="form-group mt-3">
                <button class="btn btn-success my-3"> {% blocktrans %} Saqlash {% endblocktrans %} </button>
              </div>
          </form>
    </div>
  </div>
  
  <style>
    .modal-bodys{
        position: fixed;
        right: 0;
        top: 0;
        width: 25%;
        height: 100vh;
        padding: 50px 20px 20px 20px;
        background: white;
        box-shadow: 0px 0px 5px black;
        transform: translateX(100%);
        transition: 0.7s;
    }
        
    .show-modal{
        transform: translateX(0%);
    }
  </style>
  
  <script>
    document.querySelectorAll('.add_category').forEach((el ,index) =>{
      el.addEventListener('click', function(){
          document.querySelector('.add_edit_category_modal').classList.toggle('show-modal');
            category_id.value = ''
            category_name_uz.value = ''
            category_name_ru.value = ''
            category_name_en.value = ''
            form_title.textContent = "{% blocktrans %} Kategoriya qo'shish {% endblocktrans %}"
        })
    });
  
    document.querySelectorAll('.edit_category').forEach((el ,index) =>{
      el.addEventListener('click', function(){
        document.getElementById("category_id").value = el.getAttribute('data-id')
        document.getElementById('category_name_uz').value = el.getAttribute('data-name_uz')
        document.getElementById('category_name_en').value = el.getAttribute('data-name_en')
        document.getElementById('category_name_ru').value = el.getAttribute('data-name_ru')
        form_title.textContent = "{% blocktrans %} Kategoriyani taxrirlash" {% endblocktrans %}
        })
    });
  </script>
  